In [1]:
#Import beautifulsop and requests
from bs4 import BeautifulSoup
import requests

In [2]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [3]:
soup=BeautifulSoup(source,'lxml')

In [4]:
#Check title page
soup.title.string

'List of postal codes of Canada: M - Wikipedia'

In [5]:
#Apply Prettify() function in BeautifulSoup to enable us to view how the tags are nested in the document.
#print(soup.prettify())

In [6]:
#Scrap the table:
table=soup.find('table',{"class":'wikitable'})
#table

In [7]:
table_rows = table.find_all('tr')

In [8]:
#Get the dataframe
import pandas as pd
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighborhood'])

In [9]:
df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned
2        M2A  Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [10]:
df.shape

(181, 3)

## Preprocessing data. To gnore cells with a borough that is Not assigned.

In [11]:
#Drop first none row
df.drop([0],inplace=True)
df.head()

  PostalCode           Borough                Neighborhood
1        M1A      Not assigned
2        M2A      Not assigned
3        M3A        North York                   Parkwoods
4        M4A        North York            Victoria Village
5        M5A  Downtown Toronto  Regent Park / Harbourfront

In [12]:
df.drop(df[df['Borough']=='Not assigned'].index,axis=0,inplace=True)
df.head(10)

   PostalCode           Borough                                  Neighborhood
3         M3A        North York                                     Parkwoods
4         M4A        North York                              Victoria Village
5         M5A  Downtown Toronto                    Regent Park / Harbourfront
6         M6A        North York             Lawrence Manor / Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
9         M9A         Etobicoke                              Islington Avenue
10        M1B       Scarborough                               Malvern / Rouge
12        M3B        North York                                     Don Mills
13        M4B         East York              Parkview Hill / Woodbine Gardens
14        M5B  Downtown Toronto                      Garden District, Ryerson

In [13]:
df.shape

(103, 3)